USE [master]
GO
/****** Object:  Database [Adnin project]    Script Date: 26.10.2024 20:54:18 ******/
CREATE DATABASE [Adnin project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Adnin project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Adnin project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Adnin project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Adnin project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Adnin project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Adnin project]
GO
/****** Object:  Table [dbo].[Admin_or_Investor]    Script Date: 26.10.2024 20:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_or_Investor](
	[ID] [varchar](250) NULL,
	[ID_Role] [varchar](150) NULL,
	[Login] [nvarchar](150) NULL,
	[Password] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 26.10.2024 20:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [varchar](150) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin_or_Investor]  WITH CHECK ADD  CONSTRAINT [FK_Admin_or_Investor_Role] FOREIGN KEY([ID_Role])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Admin_or_Investor] CHECK CONSTRAINT [FK_Admin_or_Investor_Role]
GO
USE [master]
GO
