USE [master]
GO
/****** Object:  Database [EcoCyclePlus]    Script Date: 26.10.2024 20:52:30 ******/
CREATE DATABASE [EcoCyclePlus]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EcoCyclePlus', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EcoCyclePlus.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EcoCyclePlus_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EcoCyclePlus_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EcoCyclePlus].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EcoCyclePlus]
GO
/****** Object:  Table [dbo].[Adress]    Script Date: 26.10.2024 20:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adress](
	[ID] [varchar](150) NOT NULL,
	[Counrty] [varchar](150) NULL,
	[Town] [varchar](150) NULL,
	[Street] [varchar](150) NULL,
	[Num_Of_House] [smallint] NULL,
	[ID_TypeAdress] [varchar](150) NULL,
 CONSTRAINT [PK_Adress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auth]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auth](
	[ID] [varchar](150) NOT NULL,
	[MobNum] [varchar](50) NULL,
	[Password] [varchar](250) NULL,
	[ID_TypeAyth] [varchar](150) NULL,
 CONSTRAINT [PK_Auth] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](250) NULL,
	[Imag] [varchar](250) NULL,
	[Description] [varchar](250) NULL,
	[Count_Money] [float] NULL,
	[ID_Awards_Type] [varchar](150) NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards_Type]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards_Type](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](250) NULL,
 CONSTRAINT [PK_Awards_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business_Account_Details]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_Account_Details](
	[ID] [varchar](150) NOT NULL,
	[Name_Bank] [varchar](150) NULL,
	[KPP] [varchar](50) NULL,
	[INN] [varchar](50) NULL,
	[BIK] [varchar](50) NOT NULL,
	[LS] [varchar](50) NOT NULL,
	[OKPO] [varchar](50) NULL,
	[PS] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Business_Account_Details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [varchar](150) NOT NULL,
	[Company_Name] [varchar](150) NULL,
	[Web] [varchar](250) NULL,
	[ID_Mail] [varchar](150) NULL,
	[ID_Company_Form] [varchar](150) NULL,
	[ID_Rating] [varchar](150) NULL,
	[ID_Address] [varchar](150) NULL,
	[ID_User_Con_Company_Phiz_Face] [varchar](150) NULL,
	[ID_Business_Account_Details] [varchar](150) NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company_Form]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company_Form](
	[ID] [varchar](150) NOT NULL,
	[Company_Name] [varchar](150) NULL,
	[KPP] [smallint] NULL,
	[INN] [smallint] NULL,
	[Data_Reg] [date] NULL,
	[Mail] [varchar](50) NULL,
	[Web] [varchar](250) NULL,
	[Ur_Address] [varchar](150) NULL,
	[Full_Name_Gen_Dir] [varchar](150) NULL,
	[Full_User_Con_Company_Phiz_Face] [varchar](150) NULL,
	[ID_Req_Status] [varchar](150) NULL,
 CONSTRAINT [PK_Company_Form] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debit_Card_Bank]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debit_Card_Bank](
	[ID] [varchar](150) NOT NULL,
	[Full_Name_Bank] [varchar](150) NOT NULL,
	[Num_Card] [int] NULL,
	[Date_Card] [date] NULL,
	[CVV] [bit] NULL,
	[ID_Transaction] [varchar](150) NULL,
 CONSTRAINT [PK_Debit_Card_Bank] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[ID] [varchar](150) NOT NULL,
	[File_Doc] [varchar](250) NULL,
	[ID_Type_Doc] [varchar](150) NULL,
 CONSTRAINT [PK_Documents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History_Session]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_Session](
	[ID] [varchar](150) NOT NULL,
	[DateTime_Start] [nchar](10) NULL,
	[DateTime_Finish] [nchar](10) NOT NULL,
	[ID_Store] [varchar](150) NULL,
	[ID_Resource] [varchar](150) NULL,
 CONSTRAINT [PK_History_Session] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID_Style_Apps]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID_Style_Apps](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](50) NULL,
 CONSTRAINT [PK_ID_Style_Apps] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID_Type_Resource_Orders]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID_Type_Resource_Orders](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](20) NULL,
	[ID_Quality_Type] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ID_TypeResource_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID_User_Type]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID_User_Type](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](50) NULL,
 CONSTRAINT [PK_ID_User_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mail]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mail](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](50) NULL,
 CONSTRAINT [PK_Mail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [varchar](150) NOT NULL,
	[NameIdOrder] [nchar](50) NULL,
	[Date_Start] [datetime] NULL,
	[Date_Finish] [datetime] NOT NULL,
	[ID_Company] [varchar](150) NULL,
	[ID_Status_Order] [varchar](150) NULL,
	[ID_Type_Resource_Orders] [varchar](150) NULL,
	[ID_Documents] [varchar](150) NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pnandomat]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pnandomat](
	[ID] [varchar](150) NOT NULL,
	[Valum_Phandomata_Const] [int] NULL,
	[ID_Resource] [varchar](150) NULL,
 CONSTRAINT [PK_Pnandomat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pnandomat_Users_Story]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pnandomat_Users_Story](
	[ID] [varchar](150) NOT NULL,
	[ID_Phandomat] [varchar](150) NULL,
	[ID_User_Phiz_Face] [varchar](150) NULL,
 CONSTRAINT [PK_Pnandomat_Users_Story] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quality_Type]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quality_Type](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](50) NULL,
 CONSTRAINT [PK_Quality_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating_Company]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating_Company](
	[ID] [varchar](150) NOT NULL,
	[Quantity] [float] NOT NULL,
 CONSTRAINT [PK_Rating_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Req_Status]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Req_Status](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](50) NULL,
 CONSTRAINT [PK_Req_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resource]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ID] [varchar](150) NOT NULL,
	[Volum] [float] NULL,
	[ID_Type_Res] [varchar](150) NULL,
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[ID] [varchar](150) NOT NULL,
	[Nickname] [varchar](100) NULL,
	[Telephone_Num] [varchar](50) NULL,
	[GEO_Location] [varchar](50) NOT NULL,
	[Account_Photo] [varchar](150) NOT NULL,
	[Password] [nchar](50) NULL,
	[ID_Style_Apps] [varchar](150) NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Order]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Order](
	[ID] [varchar](150) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Status_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_Transaction]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_Transaction](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](50) NULL,
 CONSTRAINT [PK_Status_Transaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[ID] [varchar](150) NOT NULL,
	[Quantity] [float] NOT NULL,
	[ID_Order] [varchar](150) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[ID] [varchar](150) NOT NULL,
	[Num_Transact] [int] NULL,
	[Time_Transact] [datetime] NULL,
	[ID_Status_Transaction] [varchar](150) NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Adress]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Adress](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](50) NULL,
 CONSTRAINT [PK_Type_Adress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Documents]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Documents](
	[ID] [varchar](150) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Type_Documents] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_Resource]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_Resource](
	[ID] [varchar](150) NOT NULL,
	[Tittel] [varchar](50) NULL,
 CONSTRAINT [PK_Type_Resource] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeAuth]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeAuth](
	[ID] [varchar](150) NOT NULL,
	[Tittle] [varchar](250) NOT NULL,
	[String] [varchar](250) NOT NULL,
 CONSTRAINT [PK_TypeAuth] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Connected_Company_Phiz_Face]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Connected_Company_Phiz_Face](
	[ID] [varchar](150) NOT NULL,
	[Full_Name] [varchar](150) NULL,
	[Telephone_Num] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](150) NULL,
 CONSTRAINT [PK_User_Connected_Company_Phiz_Face] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_PhizFace]    Script Date: 26.10.2024 20:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_PhizFace](
	[ID] [varchar](150) NOT NULL,
	[LVL] [float] NOT NULL,
	[ID_Setting] [varchar](150) NULL,
	[ID_Cardbank] [varchar](150) NULL,
	[ID_Awards] [varchar](150) NULL,
	[ID_HistorySession] [varchar](150) NULL,
	[ID_Auth] [varchar](150) NULL,
	[ID_UserType] [varchar](150) NULL,
 CONSTRAINT [PK_User_PhizFace] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adress]  WITH CHECK ADD  CONSTRAINT [FK_Adress_Type_Adress] FOREIGN KEY([ID_TypeAdress])
REFERENCES [dbo].[Type_Adress] ([ID])
GO
ALTER TABLE [dbo].[Adress] CHECK CONSTRAINT [FK_Adress_Type_Adress]
GO
ALTER TABLE [dbo].[Auth]  WITH CHECK ADD  CONSTRAINT [FK_Auth_TypeAuth1] FOREIGN KEY([ID_TypeAyth])
REFERENCES [dbo].[TypeAuth] ([ID])
GO
ALTER TABLE [dbo].[Auth] CHECK CONSTRAINT [FK_Auth_TypeAuth1]
GO
ALTER TABLE [dbo].[Awards]  WITH CHECK ADD  CONSTRAINT [FK_Awards_Awards_Type] FOREIGN KEY([ID_Awards_Type])
REFERENCES [dbo].[Awards_Type] ([ID])
GO
ALTER TABLE [dbo].[Awards] CHECK CONSTRAINT [FK_Awards_Awards_Type]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Adress] FOREIGN KEY([ID_Address])
REFERENCES [dbo].[Adress] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Adress]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Business_Account_Details] FOREIGN KEY([ID_Business_Account_Details])
REFERENCES [dbo].[Business_Account_Details] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Business_Account_Details]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Company_Form] FOREIGN KEY([ID_Company_Form])
REFERENCES [dbo].[Company_Form] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Company_Form]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Mail] FOREIGN KEY([ID_Mail])
REFERENCES [dbo].[Mail] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Mail]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_Rating_Company] FOREIGN KEY([ID_Rating])
REFERENCES [dbo].[Rating_Company] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_Rating_Company]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User_Connected_Company_Phiz_Face] FOREIGN KEY([ID_User_Con_Company_Phiz_Face])
REFERENCES [dbo].[User_Connected_Company_Phiz_Face] ([ID])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User_Connected_Company_Phiz_Face]
GO
ALTER TABLE [dbo].[Company_Form]  WITH CHECK ADD  CONSTRAINT [FK_Company_Form_Req_Status] FOREIGN KEY([ID_Req_Status])
REFERENCES [dbo].[Req_Status] ([ID])
GO
ALTER TABLE [dbo].[Company_Form] CHECK CONSTRAINT [FK_Company_Form_Req_Status]
GO
ALTER TABLE [dbo].[Debit_Card_Bank]  WITH CHECK ADD  CONSTRAINT [FK_Debit_Card_Bank_Transaction] FOREIGN KEY([ID_Transaction])
REFERENCES [dbo].[Transaction] ([ID])
GO
ALTER TABLE [dbo].[Debit_Card_Bank] CHECK CONSTRAINT [FK_Debit_Card_Bank_Transaction]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Type_Documents] FOREIGN KEY([ID_Type_Doc])
REFERENCES [dbo].[Type_Documents] ([ID])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Type_Documents]
GO
ALTER TABLE [dbo].[History_Session]  WITH CHECK ADD  CONSTRAINT [FK_History_Session_Resource1] FOREIGN KEY([ID_Resource])
REFERENCES [dbo].[Resource] ([ID])
GO
ALTER TABLE [dbo].[History_Session] CHECK CONSTRAINT [FK_History_Session_Resource1]
GO
ALTER TABLE [dbo].[History_Session]  WITH CHECK ADD  CONSTRAINT [FK_History_Session_Store1] FOREIGN KEY([ID_Store])
REFERENCES [dbo].[Store] ([ID])
GO
ALTER TABLE [dbo].[History_Session] CHECK CONSTRAINT [FK_History_Session_Store1]
GO
ALTER TABLE [dbo].[ID_Type_Resource_Orders]  WITH CHECK ADD  CONSTRAINT [FK_ID_Type_Resource_Orders_Quality_Type] FOREIGN KEY([ID_Quality_Type])
REFERENCES [dbo].[Quality_Type] ([ID])
GO
ALTER TABLE [dbo].[ID_Type_Resource_Orders] CHECK CONSTRAINT [FK_ID_Type_Resource_Orders_Quality_Type]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Company] FOREIGN KEY([ID_Company])
REFERENCES [dbo].[Company] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Company]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Documents] FOREIGN KEY([ID_Type_Resource_Orders])
REFERENCES [dbo].[Documents] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Documents]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_ID_Type_Resource_Orders] FOREIGN KEY([ID_Type_Resource_Orders])
REFERENCES [dbo].[ID_Type_Resource_Orders] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_ID_Type_Resource_Orders]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status_Order] FOREIGN KEY([ID_Status_Order])
REFERENCES [dbo].[Status_Order] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status_Order]
GO
ALTER TABLE [dbo].[Pnandomat]  WITH CHECK ADD  CONSTRAINT [FK_Pnandomat_Resource] FOREIGN KEY([ID_Resource])
REFERENCES [dbo].[Resource] ([ID])
GO
ALTER TABLE [dbo].[Pnandomat] CHECK CONSTRAINT [FK_Pnandomat_Resource]
GO
ALTER TABLE [dbo].[Pnandomat_Users_Story]  WITH CHECK ADD  CONSTRAINT [FK_Pnandomat_Users_Story_Pnandomat] FOREIGN KEY([ID_Phandomat])
REFERENCES [dbo].[Pnandomat] ([ID])
GO
ALTER TABLE [dbo].[Pnandomat_Users_Story] CHECK CONSTRAINT [FK_Pnandomat_Users_Story_Pnandomat]
GO
ALTER TABLE [dbo].[Pnandomat_Users_Story]  WITH CHECK ADD  CONSTRAINT [FK_Pnandomat_Users_Story_User_PhizFace] FOREIGN KEY([ID_User_Phiz_Face])
REFERENCES [dbo].[User_PhizFace] ([ID])
GO
ALTER TABLE [dbo].[Pnandomat_Users_Story] CHECK CONSTRAINT [FK_Pnandomat_Users_Story_User_PhizFace]
GO
ALTER TABLE [dbo].[Resource]  WITH CHECK ADD  CONSTRAINT [FK_Resource_Type_Resource] FOREIGN KEY([ID_Type_Res])
REFERENCES [dbo].[Type_Resource] ([ID])
GO
ALTER TABLE [dbo].[Resource] CHECK CONSTRAINT [FK_Resource_Type_Resource]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_ID_Style_Apps] FOREIGN KEY([ID_Style_Apps])
REFERENCES [dbo].[ID_Style_Apps] ([ID])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK_Setting_ID_Style_Apps]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [FK_Store_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [FK_Store_Order]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Status_Transaction] FOREIGN KEY([ID_Status_Transaction])
REFERENCES [dbo].[Status_Transaction] ([ID])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Status_Transaction]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_Auth] FOREIGN KEY([ID_Auth])
REFERENCES [dbo].[Auth] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_Auth]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_Awards1] FOREIGN KEY([ID_Awards])
REFERENCES [dbo].[Awards] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_Awards1]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_Debit_Card_Bank] FOREIGN KEY([ID_Cardbank])
REFERENCES [dbo].[Debit_Card_Bank] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_Debit_Card_Bank]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_History_Session] FOREIGN KEY([ID_HistorySession])
REFERENCES [dbo].[History_Session] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_History_Session]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_ID_User_Type] FOREIGN KEY([ID_UserType])
REFERENCES [dbo].[ID_User_Type] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_ID_User_Type]
GO
ALTER TABLE [dbo].[User_PhizFace]  WITH CHECK ADD  CONSTRAINT [FK_User_PhizFace_Setting] FOREIGN KEY([ID_Setting])
REFERENCES [dbo].[Setting] ([ID])
GO
ALTER TABLE [dbo].[User_PhizFace] CHECK CONSTRAINT [FK_User_PhizFace_Setting]
GO
USE [master]
GO
